<html>
<head>
<style>
table {
  border-collapse: collapse;
  border: 2px solid black;
  text-align: center;
  vertical-align: middle;
  table-layout: fixed;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; color: black;
}
thead {
  border: 2px solid black;
}
thead tr, thead th{
  border: 2px solid black; padding: 10px;
}

ul {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; color: black;
}
tr td {
  padding: 10px; border-bottom: 1px solid black; white-space: nowrap;
}
.date-cell {
  font-weight: bold;
}
.warning-cell {
  	font-weight: bold; color: red;
}
.open-cell{
	font-weight: bold; color: blue;
}
.call-cell{
	font-weight: bold; color: black;
}
.first{
	font-size: x-large;
}

li.whostring{
	font-weight: bold; font-size: large; line-height:200%; color: black;
}
.callsign{
	font-weight: bold; color: red; background: yellow; font-size: large;
}
li.openslotstring{
	font-weight: bold; color: red; font-size: x-large
}

#whostring, #openslotstring, #netfreq{
	list-style-type: none; list-style-position: outside;
}
li.noopenslots{
	font-weight: bold; font-size: x-large; color: black; text-decoration: underline; color: black;
}
#netfreq{
	font-weight: bold; font-size: small; color: black;
}
#footnotes{
	font-size: small; color: black;
}
#greeting{
	font-family: Arial, Helvetica, sans-serif; color: black;
}
.note {
    color: blue;
}
</style>
</head>
<body>
<h2 #greetings>Please Note:</b> The 75m Net is now at 2030h. </h2>
<div id="greeting"><h4>Greetings, KCARCers!</h4>
 <p>This is the [semi-]automated reminder
    that the KCARC Weekly Nets are
    {{when|default("just around the corner", true)}}.
    The first net starts at 7pm.</p>
    <p>Now that we are in the Spring/Summer half of the year, our 80m nets will be held after our 10m net.</p>
	<p>Please come, join us, and enjoy the fellowship of Amateur Radio.</p>
	<p class    ="note">Net Control Operators are strongly encouraged to engage the net
	in meaningful conversation.</p>
	<p><b>If you would like to take on an open positon, please be sure to add my email (choffma@gmail.com) to the CC line,
     <p>or <a href="mailto:choffma@gmail.com">Email me directly</a>. This
    'main' email group is moderated, and some messages may be delayed.</b></p>
    </div>
<ul id="openslotstring">{% if open_slot_strings|length %}
{% for slot in open_slot_strings %}
	<li class="openslotstring">{{slot}}</li>
{% endfor %}
{% else %}
	<li class="noopenslots">All Nets are covered for this week:</li>
{% endif %}</ul>

<ul id="whostring">{% for whos_up in whos_up_strings %}
	<li class="whostring">{{whos_up}}</li>
{% endfor %}</ul>
<table border="1" cellpadding="2" cellspacing="2" style="background-color:#ffffff;border-collapse:collapse;border:1px solid #000000">
	<thead>
		<tr>
			<th rowspan="3">Date</th>
		</tr>
		<tr>
			<th>70cm</th>
			<th>2m</th>
			<th>10m</th>
			<th>75m</th>
		</tr>
		<tr>
			<th>1900h</th>
			<th>1930h</th>
			<th>2000h</th>
			<th>2030h</th>
		</tr>
	</thead>
	<tbody>
	{% for item in items %}
		<tr>
			<td class="{{item.tags.Date}}">{{item.Date}}</td>
			<td class="{{item.tags.band2}}">{{item.band2}}</td>
			<td class="{{item.tags.band3}}">{{item.band3}}</td>
			<td class="{{item.tags.band4}}">{{item.band4}}</td>
			<td class="{{item.tags.band1}}">{{item.band1}}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
<ul id="netfreq">
	<li>75m : 3.985 MHz LSB (+/- 5KHz **)</li>
	<li>70cm : 444.075 MHz FM  (+5 MHz offset, 103.5 PL Tone)</li>
	<li>2m : 145.430 MHz FM  (-600 kHz offset, 88.5 PL tone)</li>
	<li>10m : 28.330 MHz USB (28.335 as a backup)</li>
	<li>**  (TUNE AROUND FOR US ON 75. WE TRY TO AVOID QRM’ing OTHER QSO’S BY MOVING UP OR DOWN A LITTLE WHEN NECESSARY)</li>
</ul>
<ul id="footnotes">
	<li>REMINDER: If you are getting a duplicate of this email, please let me know.</li>
</ul>
</body>
